USE [master]
GO
/****** Object:  Database [OnlineShopping]    Script Date: 5/31/2026 1:57:25 AM ******/
CREATE DATABASE [OnlineShopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineShopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\OnlineShopping.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OnlineShopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\OnlineShopping_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineShopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineShopping]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Address](
	[AddId] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[FullAddress] [varchar](100) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[State] [varchar](100) NOT NULL,
	[Pincode] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NULL,
	[PrdId] [int] NULL,
	[Qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CatId] [int] IDENTITY(1,1) NOT NULL,
	[Cat_Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrdID] [int] NOT NULL,
	[PrdID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[Status] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[PrdId] [int] IDENTITY(1,1) NOT NULL,
	[SCatgId] [int] NULL,
	[PrdName] [varchar](100) NOT NULL,
	[Prd_Description] [varchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CatId] [int] NULL,
	[StockQty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductImage](
	[PrdImg_Id] [int] IDENTITY(1,1) NOT NULL,
	[PrdId] [int] NULL,
	[ImageURL] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrdImg_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SCatgID] [int] IDENTITY(1,1) NOT NULL,
	[CatId] [int] NULL,
	[SubCatgName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SCatgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/31/2026 1:57:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](100) NOT NULL,
	[Is_Deleted] [bit] NULL DEFAULT ((0)),
	[Is_Enabled] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [LoginId]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CatId], [Cat_Name]) VALUES (4, N'Books')
INSERT [dbo].[Category] ([CatId], [Cat_Name]) VALUES (2, N'Clothing')
INSERT [dbo].[Category] ([CatId], [Cat_Name]) VALUES (1, N'Electronics')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrdID], [PrdID], [Quantity], [Price]) VALUES (1, 1, 21, 2, 69999)
INSERT [dbo].[OrderItem] ([OrderItemID], [OrdID], [PrdID], [Quantity], [Price]) VALUES (2, 1, 22, 1, 55000)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrdId], [LoginId], [TotalAmount], [Status]) VALUES (1, 1, CAST(194998 AS Decimal(18, 0)), N'Pending')
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([PrdId], [SCatgId], [PrdName], [Prd_Description], [Price], [CatId], [StockQty]) VALUES (20, 1, N'iPhone 15', N'Latest Apple iPhone with A16 chip', CAST(79999.00 AS Decimal(18, 2)), 1, 10)
INSERT [dbo].[Product] ([PrdId], [SCatgId], [PrdName], [Prd_Description], [Price], [CatId], [StockQty]) VALUES (21, 1, N'Samsung Galaxy S24', N'Samsung flagship phone 2024', CAST(69999.00 AS Decimal(18, 2)), 1, 15)
INSERT [dbo].[Product] ([PrdId], [SCatgId], [PrdName], [Prd_Description], [Price], [CatId], [StockQty]) VALUES (22, 2, N'Dell Inspiron Laptop', N'15 inch laptop with i5 processor', CAST(55000.00 AS Decimal(18, 2)), 1, 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([PrdImg_Id], [PrdId], [ImageURL]) VALUES (2, 20, N'/img/product/iphone15.jpg')
INSERT [dbo].[ProductImage] ([PrdImg_Id], [PrdId], [ImageURL]) VALUES (3, 21, N'/img/product/samsungs24.jpg')
INSERT [dbo].[ProductImage] ([PrdImg_Id], [PrdId], [ImageURL]) VALUES (4, 22, N'/img/product/delllaptop.jpg')
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([SCatgID], [CatId], [SubCatgName]) VALUES (1, 1, N'Mobile Phones')
INSERT [dbo].[SubCategory] ([SCatgID], [CatId], [SubCatgName]) VALUES (2, 1, N'Laptops')
INSERT [dbo].[SubCategory] ([SCatgID], [CatId], [SubCatgName]) VALUES (3, 1, N'Headphones')
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([LoginId], [Name], [Email], [PasswordHash], [Is_Deleted], [Is_Enabled]) VALUES (1, N'Ishpreet Singh', N'Singh2005Ishpreet@gmail.com', N'$2a$11$Gc7YnAW5gZ65sYopmVm.LeLBC14af16M5i5X/EEM9jYkpiGpfYobu', 0, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Category__B46D3EC36D198449]    Script Date: 5/31/2026 1:57:26 AM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[Cat_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__users__A9D105344359B2C1]    Script Date: 5/31/2026 1:57:26 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[users] ([LoginId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([LoginId])
REFERENCES [dbo].[users] ([LoginId])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartId])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([PrdId])
REFERENCES [dbo].[Product] ([PrdId])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([OrdID])
REFERENCES [dbo].[Orders] ([OrdId])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([PrdID])
REFERENCES [dbo].[Product] ([PrdId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([LoginId])
REFERENCES [dbo].[users] ([LoginId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([CatId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([SCatgId])
REFERENCES [dbo].[SubCategory] ([SCatgID])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([PrdId])
REFERENCES [dbo].[Product] ([PrdId])
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([CatId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Delivered' OR [Status]='Shipped' OR [Status]='Pending'))
GO
USE [master]
GO
